<h1>About</h1>
<p>
  Lucine and Blore Luxury Venues is all about connecting people and making venue space shopping as convenient as possible. Explore our website with ease as you search for the perfect space for your next big event. Make sure you checkout our easy to use organizational charts, venue request page, and review page for you to talk to other customers about their venue experience. Please refer to our contact page if you have any questions.

      -L & B
</p>
<body>
</body>
<body> 
</body>
