  .text-center {
    text-align: center;
  }
  h1 {
    color: white;
    font-size: 50px;
    margin-top: 3vh;
    padding: 10px;
    background: transparent;
  }
  h2 {
    color: white;
    font-size: 14px;
    background: white;
  }
  h3{
      color: white;
  }
  mat-form-field{
    color: white;
}