<h1>Create a Venue</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="venueCreateForm">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Venue Name" formControlName="VenueName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Venue Description" formControlName="VenueDescription" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Venue Location" formControlName="VenueLocation" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Venue Capacity" formControlName="VenueCapacity" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Venue Cost" formControlName="VenueCost" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Venue</button>
</form>
<br>
<a routerLink="/venues">Back to List</a>