<h1>Transactions</h1>
<hr>

<form *ngIf = "transactionCreateForm"[formGroup]="transactionCreateForm"[formGroup] #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="User ID" formControlName="UserID" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Venue ID" formControlName="VenueID" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Venue Cost" formControlName="VenueCost" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Transaction</button>
</form>
<br>
<a routerLink="/transactions/create">Back to List</a>

