<h1>Create a Review</h1>
<hr>

<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="reviewCreateForm">
  <div>
    <div>
      <mat-form-field>
        <mat-label>Select Venue</mat-label>
        <mat-select formControlName="VenueID">
          <mat-option *ngFor="let venue of venues" [value]="venue.VenueID">
            {{venue.VenueName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Venue Rating" formControlName="VenueRating" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Comments" formControlName="Comments" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn btn-btn" type="submit">Submit Review</button>
</form>
<br>
<a routerLink="/reviews">Back to List</a>