<h1> Index </h1>
<!-- <a button color:"primary">Create New</a> -->
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let transaction" routerLink="/transactions/detail/{{transaction.TransactionID}}"> <i class="material-icons">library_books</i></mat-cell>
    </ng-container>

    <ng-container matColumnDef="TransactionID">
        <mat-header-cell *matHeaderCellDef> Transaction # </mat-header-cell>
        <mat-cell *matCellDef="let transaction"> {{transaction.TransactionID}}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="UserID">
      <mat-header-cell *matHeaderCellDef> User # </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.UserID}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="VenueID">
      <mat-header-cell *matHeaderCellDef> Venue # </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.VenueID}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="VenueCost">
      <mat-header-cell *matHeaderCellDef> Venue Cost </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> {{transaction.VenueCost}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let transaction"> 
        <i mat-icon class="material-icons">edit</i>
        <i class="material-icons">delete</i>
      </mat-cell>
    </ng-container>

  </mat-table>
</div>
