<h1> Index </h1>
<!-- <a button color:"primary">Create New</a> -->
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let venue"> <i class="material-icons">library_books</i></mat-cell>
    </ng-container>

    <ng-container matColumnDef="VenueName">
      <mat-header-cell *matHeaderCellDef> Venue Name </mat-header-cell>
      <mat-cell *matCellDef="let venue"> {{venue.VenueName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="VenueDescription">
      <mat-header-cell *matHeaderCellDef> Venue Description </mat-header-cell>
      <mat-cell *matCellDef="let venue"> {{venue.VenueDescription}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="VenueLocation">
      <mat-header-cell *matHeaderCellDef> Venue Location </mat-header-cell>
      <mat-cell *matCellDef="let venue"> {{venue.VenueLocation}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="VenueCapacity">
      <mat-header-cell *matHeaderCellDef> Venue Capacity </mat-header-cell>
      <mat-cell *matCellDef="let venue"> {{venue.VenueCapacity}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="VenueCost">
      <mat-header-cell *matHeaderCellDef> Venue Cost </mat-header-cell>
      <mat-cell *matCellDef="let venue"> {{venue.VenueCost}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let venue"> 
        <i mat-icon class="material-icons">edit</i>
        <i class="material-icons">delete</i>
      </mat-cell>
    </ng-container>

  </mat-table>
</div>