<h1> Details</h1>

<hr>
<div *ngIf="transaction">
  <div>
    <label for="">TransactionID: </label>
    <span>{{transaction.TransactionID}}</span>
  </div>
  <div>
    <label for="">VenueName: </label>
    <span>{{transaction.VenueName}}</span>
</div>
<div>
  <label for="">DaysRenting: </label>
  <span>{{transaction.DaysRenting}}</span>
</div>
  <div>
      <label for="">Total Cost: </label>
      <span>{{transaction.TransactionCost}}</span>
  </div>
</div>

<button mat-button color="primary" routerLink="/transactions">Back to List</button>

