<h1> Details</h1>

<hr>
<div *ngIf="transaction">
  <div>
    <label for="">TransactionID: </label>
    <span>{{transaction.TransactionID}}</span>
  </div>
  <div>
      <label for="">UserID: </label>
      <span>{{transaction.UserID}}</span>
  </div>
  <div>
      <label for="">VenueID: </label>
      <span>{{transaction.VenueID}}</span>
  </div>
  <div>
      <label for="">Venue Cost: </label>
      <span>{{transaction.VenueCost}}</span>
  </div>
</div>

<button mat-button color="accent">Edit</button>
<button mat-button color="primary" routerLink="/transactions">Back to List</button>

