h1{
    margin-bottom: 150px;
}
div{
    color: #e6be8a;
    margin-bottom: 3em;
}
body{
    margin-left: 585px;
    background-color: #e6be8a;
    border-radius: 4px;
    border: transparent;
    opacity: 1.0;
    height: 3em;
} 