<!DOCTYPE html>
<div class="nav-wrapper">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a href class="home-btn" routerLink="/home">L & B</a>
    <h1></h1>
    <button class="nav-btn" routerLink="/venues">Venues</button>
    <button class="nav-btn" routerLink="/reviews">Reviews</button>
    <button class="nav-btn" routerLink="/transactions">Transactions</button>
    <h2></h2>
    <button class="nav-btn reglog" routerLink="/register">Register</button>
    <button class="nav-btn reglog" routerLink="/login">Login</button>
  </nav>
</div>