.example-fill-remaining-space{
    flex: 1 1 auto;
}
img{
    height: 60px;
    width: 60px;
    -webkit-filter: blur(.5px); /* Safari 6.0 - 9.0 */
    filter: blur(.5px);
}
.nav-btn{
    margin-right: 1em;
    background-color: #e6be8a;
    border-radius: 8px;
    border: transparent;
    opacity: 1.0;
    height: 3em;
} 
.reglog{
    background-color: #C8C8C8;
}
.tablebuttons{
    margin-left: 1vw;
}
.navbar{
    color: black;
    background-color: transparent;
    width: wrap;
    height: 8vh;
}
.nav-wrapper{
padding-bottom: 1.5em;
color: transparent;
}